html, body {
	margin: 0;
	height: 100%;
}

.wrapper {
	min-height: 100%;
	/*background: green;*/
}

.wrapper:after {
	content: '';
	display: block;
	clear: both;
}

.header {
	width: auto;
	height: 80px;
	/*background: pink;*/
	box-shadow: 0px 5px 5px grey;
	text-align: center;


}

.sidebar {
	width: 250px;
	float: left;
	border-right: 1px solid #333;
	/*background: grey;*/
}

.content {
	margin-left: 260px;
	/*background: yellow;*/
	padding-bottom: 100px;
	margin-right: 10px;
}

.footer {
	height: 100px;
	margin-top:-100px;
	clear: both;
	text-align: center;
	border-top: 1px solid #333;
	/*background: red;*/
}

.logo {
	display: inline-block;
	float: left;
	margin-top: 15px;
}

.logo_link {
	text-decoration: none;
	color: white;
	text-shadow: 0px 0px 3px #333;
	font-size: 30px;
	font-family: "Segoe UI Light", Serif;
	font-weight: bold;
	padding-left: 30px;
}

.list {
	margin: 0;
}
.Item {
	display: inline-block;
	list-style: none;
	clear: both;
	margin-left: 30px;
	margin-top: 25px;
}
.Item1 {
	display: inline-block;
	list-style: none;
	clear: both;
	margin-left: 170px;
	margin-top: 15px;

}
.item__link {
	text-decoration: none;
	color: black;
	font-family: "Segoe UI Light", Serif;
	transition: color .2s;
}

.item__link:hover {
	color: grey;
}
.Lastposts {
	font-family: "Segoe UI Light", Serif;
	font-weight: bold;
	font-size: 15px;
}
.listpost2 {
	padding-left: 0;
}
.post {
	list-style: none;
	padding-bottom: 7px;
	padding-top: 7px;
}
.post:hover {
	background: grey;
}

.post_link {
	text-decoration: none;
	font-family: "Segoe UI Light", Serif;
	color: #333;
	font-size: 13px;
	padding-left: 15px;

}
.h1 {
	margin-top: 10px;
	margin-bottom: 0;
}
.h1_link {
	text-decoration: none;
	font-family: "Segoe UI Light", Serif;
	color: #333;
	font-size: 21px;
	
}
.h1_link:hover {
	text-decoration: underline;
}

.p1 {
	margin-top: 5px;
	font-family: "Segoe UI Light", Serif;
	font-size: 12px;
}

.img {
	float: left;
	margin: 0;
}

.p2 {
	font-family: "Segoe UI Light", Serif;
	margin: 0;
	font-size: 13px;
	line-height: 35px;
	margin-left: 130px;
	margin-top: -12px;
	
}
.imgp2 {
	display: inline-block;
}

.imgp2:after {
	content: '';
	float: left;
	display: block;
}

.img_item {
	width: 120px;
	height: auto;
}

.Views {
	float: left;
	font-family: "Segoe UI Light", Serif;
	color: grey;
	font-size: 9px;
	padding-bottom: 10px;
}
.Today {
	float: right;
	font-family: "Segoe UI Light", Serif;
	color: grey;
	font-size: 9px;
	padding-bottom: 10px;
}
.ViewsandToday {
	border-bottom: 1px solid grey;
	height: 30px;
/*	display: inline-block;*/
}
.ViewsandToday:after {
	content: '';
	display: block;
	clear: left;
}

.rights {
	font-family: "Segoe UI Light", Serif;
	font-size: 14px;
}